.o-hero {
    .m-hero-info {
        padding: 2em 1em 0 4.3em;

        .a-hero__title {
            margin-bottom: 1em;
        }
    }

    .a-hero__image {
        position: relative;
        right: 10em;
        bottom: 3em;
        width: 200%;
    }
}