/* GENERAL STYLES */
body {
    background-color: #FFFEE5;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

img {
    width: 100%;
}

a {
    transition: 0.4s;
    text-decoration: none;
    &:hover {
        transition: 0.4s;
    }
}

h1, h2, h3, h4 {
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 8px;
    font-weight: 800;
}

h1 {
    font-size: 52px;
    line-height: 62px;
}

h2 {
    font-size: 48px;
}

strong {
    font-weight: 600;
}

p {
    font-weight: 400;
}

.p-top {
    padding-top: 2em;
}

.container {
    width: 90%;
    margin: auto;
}

/* GRID */
.grid-x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-30-70 {
    display: grid;
    grid-template-columns: 1fr 70%;
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ATOMS */
.a-button {
    border-radius: 30px;
    background-color: #20B842;
    padding: 1em 2em;
    color: #fff;
    transition: 0.4s;
    &:hover {
        cursor: pointer;
        background-color: #228c39;
        transition: 0.4s;
    }
}